parameters:
    level: 7
    paths:
        - src
    ignoreErrors:
        - '#Call to an undefined static method .*::cases\(\)#'
        - '#Call to an undefined method ReflectionType::isBuiltin\(\)#'